@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus-visible,
select:focus-visible {
  outline: none;
}

.card {
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  @apply rounded-2xl p-8 bg-zinc-50;
}
